<a href="https://colab.research.google.com/github/NamanGoyal255/NamanGoyal.github.io/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
L=[11,12,13,14]
L.append(50)
print(L)
L.append(60)
print(L)
del L[0],L[1]
print(L)

[11, 12, 13, 14, 50]
[11, 12, 13, 14, 50, 60]
[12, 14, 50, 60]

In [17]:

L.sort(reverse=True)
print(L)

[60, 50, 14, 12]

In [18]:
print('Sum of list is:',sum(L))

Sum of list is: 136

In [20]:

newlo=[]
newle=[]
for i in range(0,len(L)):
  if L[i]%2!=0:
    newlo.append(L[i])
  else:
    newle.append(L[i])  
print("sum of odd num is:",sum(newlo))    
print("sum of even num is:",sum(newle))

sum of odd num is: 0
sum of even num is: 136

In [23]:
def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1
s=0  
for i in range(0,len(L)):
  if IsPrime(L[i]):
    s+=L[i]
print('Sum of prime no is:',s)

Sum of prime no is: 0

In [30]:
print(L)
L.sort()
print(L)

[60, 50, 14, 12]
[12, 14, 50, 60]

In [32]:
L.clear()
print(L)

[]

In [33]:
del L

In [39]:
D={1:5.6, 2:7.8,3:6.6, 4:8.7, 5:7.7}
S=0
for k in D:
  s+=D[k]
print('sum is ',s)

sum is  36.4

In [40]:
D[3] = 7.1
print ("After Updating (3)  --> ", D)

After Updating (3)  -->  {1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

In [45]:
 D.clear()
 print(D)

{}

In [44]:
s1= set([10,20,30,40,50,60 ])
s2=  set([10,20,30,40,50,60 ])

In [46]:
s1.add(55)
print ("Set After Adding 55 --> ", s1)

Set After Adding  -->  {40, 10, 50, 20, 55, 60, 30}

In [47]:
s1.add(66)
print ("Set After Adding 66 --> ", s1)

Set After Adding 66 -->  {66, 40, 10, 50, 20, 55, 60, 30}

In [48]:
s1.remove(10)
s1.remove(30)
print ("Set After removing  --> ", s1)

Set After removing  -->  {66, 40, 50, 20, 55, 60}

In [49]:
if 40 in s1:
  print("Yes, ")

Yes,

In [50]:
print ("Union of s1 and s2   --> ", s1.union(s2))

Union of s1 and s2   -->  {66, 40, 10, 50, 20, 55, 60, 30}

In [51]:
print ("Inter of s1 and s2   --> ", s1.intersection(s2))

Inter of s1 and s2   -->  {40, 50, 20, 60}

In [52]:
print ("Difference b - a    --> ", s1-s2)

Difference b - a    -->  {66, 55}

In [35]:
D[8]=8.8
print("after adding",D)

after adding {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [36]:
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [37]:
print ("Is Key 6 Present    --> ", 6 in D)

Is Key 6 Present    -->  False

In [53]:
def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1
for i in range(600,801):
  if IsPrime(i):
    print(i)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [54]:
for i in range(101,1000):
  if i%7==0 and i%9==0:
    print(i)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [73]:
def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1
p=0
for i in lisp:
  if IsPrime(i):
    print(i)
    p+=1
print("Prime number in list is:",p)

541
491
797
787
389
421
521
443
389
499
Prime number in list is: 10

In [55]:
import random
randomlist1 = []
randomlist2 = []
for i in range(0,10):
  
  n = random.randint(1,30)
  t=random.randint(1,30)
  randomlist1.append(n)
  randomlist2.append(t)
print(randomlist1)  
print(randomlist2)

[14, 4, 29, 2, 30, 10, 9, 4, 21, 5]
[6, 28, 2, 12, 4, 1, 28, 14, 14, 5]

In [56]:
def common(a,b):
  result = [i for i in a if i in b]
  return result
print(common(randomlist1,randomlist2))

[14, 4, 2, 4, 5]

In [57]:
max_all=max(randomlist1 + randomlist2)
print(max_all)

30

In [60]:
min_all=min(randomlist1 + randomlist2)
print(min_all)

1

In [62]:
res_list = []
for i in range(0, len(randomlist1)):
    res_list.append(randomlist1[i] + randomlist2[i])
print("Sum is"+ str(res_list))

Sum is[20, 32, 31, 14, 34, 11, 37, 18, 35, 10]

In [38]:
print('Number of elements:',len(D))

Number of elements: 5

In [64]:
def uncommon_items_with_op(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    if(set1.symmetric_difference(set2)):
        print( 'Uncommon elements: ' + str(set1.symmetric_difference(set2)))
    else:
        print ('No Uncommon elements')



uncommon_items_with_op(randomlist1, randomlist2)

Uncommon elements: {1, 6, 9, 10, 12, 21, 28, 29, 30}

In [67]:
import random as r
lisp=[]
for i in range(0,100):
  n=r.randint(100,900)
  lisp.append(n)
print(lisp)

[519, 578, 843, 377, 738, 652, 482, 899, 598, 551, 693, 152, 368, 406, 893, 553, 541, 687, 378, 784, 438, 792, 370, 245, 491, 686, 854, 299, 473, 676, 562, 580, 278, 591, 609, 329, 867, 797, 275, 265, 713, 774, 572, 627, 836, 518, 168, 779, 437, 674, 787, 581, 340, 309, 436, 389, 111, 114, 869, 325, 790, 362, 888, 866, 623, 237, 861, 736, 172, 421, 169, 186, 214, 360, 612, 410, 686, 880, 532, 804, 122, 182, 713, 878, 207, 177, 654, 484, 652, 521, 443, 154, 389, 326, 363, 116, 499, 763, 635, 890]

In [74]:
D={1:"One",2:"Two",3:"Three",4:"Four",5:"Five"}

In [76]:
f= open("myfile.txt", 'w')  
for key, value in D.items(): 
  
  f.write('%s,%s\n' % (key, value))
f.close()
print ("Writing done !! \nOpen myfile.txt to view the content")

Writing done !!
Open myfile.txt to view the content

In [77]:
L=["One","Two","Three","Four","Five"]

In [78]:
f= open("myfile2.txt", 'w')  
for i in L:
  n=len(i) 
  f.write("%s,%d\n" %(i,n))
  
  
f.close()
print ("Writing done !! \nOpen myfile.txt to view the content")

Writing done !!
Open myfile.txt to view the content

In [80]:
def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1
f= open("myfile3.txt", 'w')    
for i in range(600,801):
  if IsPrime(i):
    f.write("%d\n" %i)
f.close()
print ("Writing done !! \nOpen myfile.txt to view the content")

Writing done !!
Open myfile.txt to view the content

In [83]:
import time
 

begin = time.time()
 

 
for i in range(5):
    print("Hello")

 
time.sleep(1)

end = time.time()
 
# total time taken
print("Total runtime of the program is ",end-begin)

Hello
Hello
Hello
Hello
Hello
Total runtime of the program is  1.0044639110565186

In [68]:
e=0
for i in lisp:
  if(i%2)==0:
    e+=1
    print(i)
print('Even Number',e)

578
738
652
482
598
152
368
406
378
784
438
792
370
686
854
676
562
580
278
774
572
836
518
168
674
340
436
114
790
362
888
866
736
172
186
214
360
612
410
686
880
532
804
122
182
878
654
484
652
154
326
116
890
Even Number 53

In [69]:
e=0
for i in lisp:
  if(i%2)!=0:
    e+=1
    print(i)
print('odd Number',e)

519
843
377
899
551
693
893
553
541
687
245
491
299
473
591
609
329
867
797
275
265
713
627
779
437
787
581
309
389
111
869
325
623
237
861
421
169
713
207
177
521
443
389
363
499
763
635
odd Number 47

In [ ]:
import string as s
import random as r
print ("String        --> ",s.ascii_letters)
passwd=r.sample(s.ascii_letters,6)

In [10]:
print('Number of elements in list',len(L))

Number of elements in list 4

In [11]:
if (13 in L) == True:
	print ("Present")
else:
	print ("Not Present")

Not Present